---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
import Link from "../components/Link.astro";
import presentation from "../data/presentation";
//import { VerticalTimeline, VerticalTimelineElement }  from 'vertical-timeline-forked';
import pkg_react_vertical_timeline_component from 'react-vertical-timeline-component';
const { VerticalTimelineElement, VerticalTimeline } = pkg_react_vertical_timeline_component;
import 'react-vertical-timeline-component/style.min.css';
---

<BaseLayout title="Lebenslauf" sideBarActiveItemID="lebenslauf">
  <style>
    .rating {
        unicode-bidi: bidi-override;
        text-align: center;
    }
  
    .rating > span {
        display: inline-block;
        position: relative;
        width: 1.1em;
    }
  
    .rating > span:before {
        content: "\2606";
        position: absolute;
    }
  </style>
  <main>
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">{presentation.title}</div>
  </div>

  <div class="mb-10 text-justify">
    Ich bin ein IT-Assistent in Ausbildung.
    <br/>
    <Link
            href={`mailto:${presentation.mail}`}
            label={'E-Mail: '+ presentation.mail}
    />
    <br/>
    <Link
            href={`https://maps.apple.com/?address=Ludwig-Renn-Stra%C3%9Fe%2033,%2012679%20Berlin,%20Deutschland&ll=52.551673,13.558337`}
            label={'Adresse: Ludwig-Renn-Straße 33, 12679 Berlin, Deutschland'}
    />
    <br/>
    <Link
            href={`tel:+4917645172171`}
            label={'Telefonnummer:'+' +4917645172171'}
    />
    <br/>
    Geburtsdatum: 06.06.2003          
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Ausbildung</div>
  </div>
  
  <VerticalTimeline
  lineColor="black"
  >
    <VerticalTimelineElement
      className={ "vertical-timeline-element--education" }
      date={"08/2021 - present"}
      visible={true}
    >
      <h3 class="vertical-timeline-element-title">Oberstufenzentrum Informations- & Medizintechnick</h3>
      <p>Ausbildung zum IT-Assistent mit Fachabitur</p>
    </VerticalTimelineElement>
  
    <VerticalTimelineElement
      className={"vertical-timeline-element--education"}
      date={"08/2010 - 06/2021"}
      visible={true}
    >
      <h3 class="vertical-timeline-element-title">Carl-vonLinné-Linné-Schule, Berlin</h3>
      <p>Grundschule + Skundarstufe I mit dem Abschluss MSA(OG)</p>
    </VerticalTimelineElement>
  </VerticalTimeline>
  
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Erfahrung</div>
  </div>
  
  <VerticalTimeline
  lineColor="black"
  >
    <VerticalTimelineElement
      className="vertical-timeline-element--work"
      date="11/2023 - 02/2024"
      visible={true}
    >
      <h3 class="vertical-timeline-element-title">KfW Bankengruppe, Berlin</h3>
      <p>Ansible Dokumentation, Ansible Playbook Automation, Anwendungsbetreuung</p>
    </VerticalTimelineElement>
  
    <VerticalTimelineElement
      className="vertical-timeline-element--work"
      date="02/2020 - 02/2020"
      visible={true}
    >
      <h3 class="vertical-timeline-element-title">Akademie der Künste, Berlin</h3>
      <p>Syntesizer Entwicklung und Mastering</p>
    </VerticalTimelineElement>
  
    <VerticalTimelineElement
      className="vertical-timeline-element--work"
      date="01/2019 - 01/2019"
      visible={true}
    >
      <h3 class="vertical-timeline-element-title">Tosa Security & Service, Trebin</h3>
      <p>Bürotätigkeiten</p>
    </VerticalTimelineElement>
  
    <VerticalTimelineElement
      className="vertical-timeline-element--work"
      date="03/2018 - 03/2018"
      visible={true}
    >
      <h3 class="vertical-timeline-element-title">Pfenigpfefer, Berlin</h3>
      <p>Regale ein- und ausgeräumt</p>
    </VerticalTimelineElement>
  </VerticalTimeline>
  
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Ehrentamtliche Tätigkeiten</div>
  </div>
  
  <VerticalTimeline
  lineColor="black"
  >
    <VerticalTimelineElement
      className="vertical-timeline-element--volunteer"
      date="06/2023"
      visible={true}
    >
      <h3 class="vertical-timeline-element-title">Special Olympics Germany, Berlin</h3>
      <p>Healty Athletes Program Check in/Check out System</p>
    </VerticalTimelineElement>
  </VerticalTimeline>
  

  <!--div class="mb-5">
    <div class="text-3xl w-full font-bold">Zertifizierungen</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank">noch keine (mit Link)</a>
    </li>
    <li>
      <a href="#" target="_blank">noch keine (mit Link)</a>
    </li>
  </ul!-->


  <div class="my-5">
    <h1 class="text-3xl font-bold mb-3">Fähigkeiten</h1>
</div>
<div class="flex flex-wrap bg-base-100">
<ul class="flex flex-wrap flex-auto flex-grow flex-shrink justify-between gap-4 bg-base-100 items-center">
    <!-- Skills -->
    <li class="card rounded card-bordered glass min-w-fit w-96 bg-base-300 shadow-xl">
      <div class="card-body">
            <span class="card-title font-mono p-4">Java</span> 
            <div class="bg-primary-content w-full h-4 rounded-full">
                <div class="bg-primary h-full rounded-full" style="width: 80%;"></div>
            </div>
        </div>
    </li>
    <li class="card rounded card-bordered glass min-w-fit w-96 bg-base-300 shadow-xl">
      <div class="card-body">
            <span class="card-title font-mono p-4">Swift(SwiftUI)</span>
            <div class="bg-primary-content w-full h-4 rounded-full">
                <div class="bg-primary h-full rounded-full" style="width: 70%;"></div>
            </div>
        </div>
    </li>
    <li class="card rounded card-bordered glass min-w-fit w-96 bg-base-300 shadow-xl">
      <div class="card-body">
            <span class="card-title font-mono p-4">Cisco IOS</span>
            <div class="bg-primary-content w-full h-4 rounded-full">
                <div class="bg-primary h-full rounded-full" style="width: 50%;"></div>
            </div>
        </div>
    </li>
    <li class="card rounded card-bordered glass min-w-fit w-96 bg-base-300 shadow-xl">
      <div class="card-body">
            <span class="card-title font-mono p-4">Micriosoft 365</span>
            <div class="bg-primary-content w-full h-4 rounded-full">
                <div class="bg-primary h-full rounded-full" style="width: 90%;"></div>
            </div>
        </div>
    </li>
    <li class="card rounded card-bordered glass min-w-fit w-96 bg-base-300 shadow-xl">
      <div class="card-body">
            <span class="card-title font-mono p-4">Visual Studio Code</span>
            <div class="bg-primary-content w-full h-4 rounded-full">
                <div class="bg-primary h-full rounded-full" style="width: 85%;"></div>
            </div>
        </div>
    </li>
    <li class="card rounded card-bordered glass min-w-fit w-96 bg-base-300 shadow-xl">
      <div class="card-body">
            <span class="card-title font-mono p-4">Apple Logic Pro</span>
            <div class="bg-primary-content w-full h-4 rounded-full">
                <div class="bg-primary h-full rounded-full" style="width: 95%;"></div>
            </div>
        </div>
    </li>
    <li class="card rounded card-bordered glass min-w-fit w-96 bg-base-300 shadow-xl">
      <div class="card-body">
            <span class="card-title font-mono p-4">Apple Xode 14+</span>
            <div class="bg-primary-content w-full h-4 rounded-full">
                <div class="bg-primary h-full rounded-full" style="width: 75%;"></div>
            </div>
        </div>
    </li>
    <li class="card rounded card-bordered glass min-w-fit w-96 bg-base-300 shadow-xl">
      <div class="card-body">
            <span class="card-title font-mono p-4">Apple macOS</span>
            <div class="bg-primary-content w-full h-4 rounded-full">
                <div class="bg-primary h-full rounded-full" style="width: 88%;"></div>
            </div>
        </div>
    </li>
    <li class="card rounded card-bordered glass min-w-fit w-96 bg-base-300 shadow-xl">
      <div class="card-body">
            <span class="card-title font-mono p-4">Apple iOS</span>
            <div class="bg-primary-content w-full h-4 rounded-full">
                <div class="bg-primary h-full rounded-full" style="width: 80%;"></div>
            </div>
        </div>
    </li>
    <li class="card rounded card-bordered glass min-w-fit w-96 bg-base-300 shadow-xl">
      <div class="card-body">
            <span class="card-title font-mono p-4">Apple iPadOS</span>
            <div class="bg-primary-content w-full h-4 rounded-full">
                <div class="bg-primary h-full rounded-full" style="width: 78%;"></div>
            </div>
        </div>
    </li>
    <li class="card rounded card-bordered glass min-w-fit w-96 bg-base-300 shadow-xl">
      <div class="card-body">
            <span class="card-title font-mono p-4">Apple xrOS</span>
            <div class="bg-primary-content w-full h-4 rounded-full">
                <div class="bg-primary h-full rounded-full" style="width: 65%;"></div>
            </div>
        </div>
    </li>
    <li class="card rounded card-bordered glass min-w-fit w-96 bg-base-300 shadow-xl">
      <div class="card-body">
            <span class="card-title font-mono p-4">Linux</span>
            <div class="bg-primary-content w-full h-4 rounded-full">
                <div class="bg-primary h-full rounded-full" style="width: 60%;"></div>
            </div>
        </div>
    </li>
    <li class="card rounded card-bordered glass min-w-fit w-96 bg-base-300 shadow-xl">
      <div class="card-body">
            <span class="card-title font-mono p-4">Windows</span>
            <div class="bg-primary-content w-full h-4 rounded-full">
                <div class="bg-primary h-full rounded-full" style="width: 55%;"></div>
            </div>
        </div>
    </li>
    <li class="card rounded card-bordered glass min-w-fit w-96 bg-base-300 shadow-xl">
      <div class="card-body">
            <span class="card-title font-mono p-4">Microsoft Teams</span>
            <div class="bg-primary-content w-full h-4 rounded-full">
                <div class="bg-primary h-full rounded-full" style="width: 85%;"></div>
            </div>
        </div>
    </li>
    <li class="card rounded card-bordered glass min-w-fit w-96 bg-base-300 shadow-xl">
      <div class="card-body">
            <span class="card-title font-mono p-4">Eclipse</span>
            <div class="bg-primary-content w-full h-4 rounded-full">
                <div class="bg-primary h-full rounded-full" style="width: 70%;"></div>
            </div>
        </div>
    </li>
    <li class="card rounded card-bordered glass min-w-fit w-96 bg-base-300 shadow-xl">
      <div class="card-body">
            <span class="card-title font-mono p-4">MySQL</span>
            <div class="bg-primary-content w-full h-4 rounded-full">
                <div class="bg-primary h-full rounded-full" style="width: 80%;"></div>
            </div>
        </div>
    </li>
    <li class="card rounded card-bordered glass min-w-fit w-96 bg-base-300 shadow-xl">
      <div class="card-body">
            <span class="card-title font-mono p-4">MySQL Comunity Server</span>
            <div class="bg-primary-content w-full h-4 rounded-full">
                <div class="bg-primary h-full rounded-full" style="width: 50%;"></div>
            </div>
        </div>
    </li>
    <li class="card rounded card-bordered glass min-w-fit w-96 bg-base-300 shadow-xl">
      <div class="card-body">
            <span class="card-title font-mono p-4">MySQLWorckbench</span>
            <div class="bg-primary-content w-full h-4 rounded-full">
                <div class="bg-primary h-full rounded-full" style="width: 60%;"></div>
            </div>
        </div>
    </li>
</ul>
</div>
</main>
</BaseLayout>



<!--li class="card min-w-fit w-96 bg-base-300 shadow-xl">
  <div class="card-body">
        <span class="card-title font-mono p-4">MySQLWorckbench</span>
        <div class="bg-primary-content w-full h-4 rounded-full">
            <div class="bg-primary h-full rounded-full" style="width: 60%;"></div>
        </div>
    </div>
</li-->