---
const { title, img, desc, url, badge, tags, target = "_blank" } = Astro.props;
import { Image } from "astro:assets";
const tag_url = url.split("/").slice(0, -1).join("/") + "/tag";

const getImgClass = () => {
  if (img === '/OSZimt-Logo-l.png') {
    return "rounded-lg bg-white";
  } else if (img === '/Logo-transparet.PNG') {
    return "rounded-lg bg-black";
  } else {
    return "rounded-lg";
  }
};

import {
  Card,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from "../components/ui/card"

import { Badge } from "../components/ui/badge"
import { Button } from "../components/ui/button"
import Link from "../components/Link.astro";
---
<Card className="text-current dark:text-white">
  <CardHeader>
    <CardTitle className="text-current">{title}</CardTitle>
    <CardDescription className="text-current dark:text-white">{desc}</CardDescription>
  </CardHeader>
  <CardContent>
    {img && (
      <Image
        src={img}
        width={750}
        height={422}
        format="webp"
        alt={title}
        class={`max-w-full md:max-w-[13rem] ${getImgClass()}`}
      />
    )}
  </CardContent>
  <CardFooter>
      <Button asChild>
        <Link
            href={url}
            label={'Hier geht es zu ' + title}
          /> 
      </Button>
      <br />
      <Badge className="text-current dark:text-white">
      {tags &&
        tags.map((tag) => (
          <a class="text-current dark:text-white">{tag}</a>
        ))}
    </Badge>
  </CardFooter>
</Card>